<section id="service" class="p-2">
    <header class="mb-5">
        <h2>
            AWICO SERVICES
        </h2>
    </header>
    <div class="container service-box">
        <div class="row">
            <div class="col-md-3  mr-5 p-3 mb-3">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>
                          <i class="fas fa-code fa-color fa-3x  "></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Développement d'application </h4>
                    <p class="card-text text-center">
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                    </p>
                  </div>

                </div>
            </div>

            <div class="col-md-3  mr-5 p-3 mb-3">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>

                          <i class="fas fa-desktop fa-color  fa-3x"></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Formations</h4>
                    <p class="card-text text-center">
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                    </p>
                  </div>

                </div>
            </div>

            <div class="col-md-3 p-3">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>
                          <i class="fas fa-robot fa-color  fa-3x "></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Création <br> des Automates</h4>
                    <p class="card-text text-center">
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                        <p>
                            <i class="fas fa-check-circle   text-success "></i>
                        </p>
                    </p>
                  </div>

                </div>
            </div>

        </div>
    </div>
</section>
<hr>