#awico-logo{
    width: 100px;
    height: 30px;
    filter: opacity(20px);
}

.awico-btn{
    width: 100%;
    height: 45px;
    border: 8px solid;
}

#landing{
    transform: translateX(270px);
    transform: translateY(270px);
    margin-left: 5rem;
}


@media screen and (max-width:780px){
    #landing{
    transform: translateX(0);
    transform: translateY(180px);
    margin-left: 0;
    }
    .awico-btn{
    width: 100%;
    height: 45px;
    border: 8px solid;
    margin: 10px;
    }

}