<section id="home">
    <!--<ul class="slideshow">
  {{!-- <li><span>Image 01</span><div>
      {{!-- <h3>AWICO Informatique</h3> --}}
      </div></li> --}}
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>-->
  <div class="container">
      <center>
          <img src="/img/logo.png" id="logo" alt="">
      </center>
    <header id="landing">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary text-uppercase text-700 awico-btn ">Commmencer à nous suivre</button>
            </div>
             <div class="col-md-4">
                <button class="btn btn-warning text-uppercase text-bold awico-btn ">A propos d'AWICO</button>
            </div>
        </div>
  </header>
</div>
</section>

<section id="feature" class="p-2">
    <header class="mb-5">
        <h2>
            AWICO Features
        </h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>
                          <i class="fab fa-node-js nodejs-bg fa-6x  "></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Conception des applications Avec du node js</h4>
                    <p class="card-text justify-content-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur deleniti eos sed voluptates dolores odit quaerat totam nesciunt rem iste necessitatibus ex nisi natus neque ut dolorum amet! Eum!
                    </p>
                  </div>
                   <div class="float-right">
                      <button class="btn btn-secondary">Lire plus</button>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>
                          <i class="fab fa-react react-bg  fa-6x"></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Conception des App React</h4>
                    <p class="card-text justify-content-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur deleniti eos sed voluptates dolores odit quaerat totam nesciunt rem iste necessitatibus ex nisi natus neque ut dolorum amet! Eum!
                    </p>
                  </div>
                  <div class="float-right">
                      <button class="btn btn-secondary">Lire plus</button>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" text-left">
                  <div class="icon mb-2">
                      <center>
                          <i class="fas fa-robot bot-bg  fa-6x "></i>
                      </center>
                  </div>
                  <div class="body">
                    <h4 class="card-title text-center text-uppercase mb-2">Conception des Automates</h4>
                    <p class="card-text justify-content-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur deleniti eos sed voluptates dolores odit quaerat totam nesciunt rem iste necessitatibus ex nisi natus neque ut dolorum amet! Eum!
                    </p>
                  </div>
                   <div class="float-right">
                      <button class="btn btn-secondary">Lire plus</button>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>